<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Product</title>
  </head>
  <body>
    <div>
      <fieldset>
        <legend>Add New Product</legend>
        <form action="/products" method="POST">
          Name: <input type="text" name="name" placeholder="Enter Product's Name" />
          <br />
          <br />
          Price: <input type="number" name="price" placeholder="Enter price" />
          <br />
          <br />
          Description: <textarea name="desc" id="" cols="30" rows="10"></textarea>
        <br>
        <br>
          <button type="submit">Save</button>
        </form>
      </fieldset>
    </div>
  </body>
</html>
